@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900|Roboto:300,400,700,900');
body{
	font: 300 24px/1.5 "Roboto", Arial, sans-serif;
	color: #333333;
	background-color: #eeeeee;

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1240px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-intro{
	margin-top: 48px;
}
.ba-logo{
	float: left;
}
.ba-logo img{
	display: block;
}
.ba-nav{
	float: right;
}
.ba-menu{
	padding: 0;
	margin: 10px 0 0 0;
	list-style: none;
	font-size: 18px;
	font-weight: 400;

}
.ba-menu li{
	display: inline-block;
	margin-left: 45px;
	letter-spacing: 0.02em;
}
.ba-menu a:hover{
	color:  #e10011;
}
.ba-menu li:last-child{
	margin-left: 35px;
}
.ba-menu a{
	text-decoration: none;
	color: #333333;
	font-weight: 400;
}
.ba-intro-body{
	margin-top: 105px;
}
.ba-info{
	width: 60%;
	float: left;
	padding: 0 98px 45px 0;
	text-align: right;
}
.ba-headphones{
	width: 40%;
	float: right;
}
.ba-info-title {
	font: 900 150px/1 "Raleway", sans-serif;
	margin: -3px 1px 1px 0;
	letter-spacing: 0.02em;
}
.ba-info-subtitle{
	letter-spacing: 0.02em;
	margin-bottom: 0;
	padding-left: 20px;
	margin-top: 22px;
	letter-spacing: 0.02em;
}
.ba-info-view{
	display: inline-block;
	margin-top: 15px;
	font-weight: 700;
	margin-bottom: 20px;
	text-decoration: none;
	margin-right: 6px;
	color:  #e10011;
	letter-spacing: 0.02em;
}
.ba-info-view:hover{
	color: #333333;
}
.ba-intro-marker{
	clear: both;
	text-align: center;
}
.ba-marker-menu {
	list-style: none;
	padding-left: 0;
	margin:  0;
}
.ba-marker-menu li{
	display: inline-block;
	padding: 0 2px;
}

.ba-marker-dot{
	border-radius: 50%;
	background-color: #303030;
	width: 11px;
	height: 11px;
	display: block;
}
.ba-marker-menu li:first-child span{
	background-color:  #e10011;
}
.ba-featured-product{
	background-color: #FFF;
	border-radius: 5px;
	margin-top: 96px;
	padding: 84px 72px 41px;
	min-height: 1193px;
}
.ba-featured-header{
	font-family: "Raleway", sans-serif;
	text-align-last: center;
}
.ba-featured-title{
	font-weight: 900;
	font-size: 48px;
	line-height: 2;
	margin: 0;
	letter-spacing: 0.03em;
	background: url(../img/underline.png) 50% 100% no-repeat;
}
.ba-featured-subtitle{
	padding: 0 250px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 0.03em;
	margin-top: 12px;
}
.ba-rows{
	margin-top: 72px;
}
[class*="ba-col-"]{
	float: left;
	margin-bottom: 25px;
	padding-left: 35px;
}
.ba-featured-row{
	margin-left: -35px;
}
.ba-work{
	display: block;
	position: relative;
}
.ba-work__caption{
	background: #cc0000;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 5px;
	opacity: 0;
	transition: opacity .5s;
	height: 387px;
}
.ba-work__caption-body{
	font: 900 25px/1.2 "Roboto", Arial, sans-serif;
	position: absolute;
	text-align: left;
	left: 5%;
	top: 76%;
	transform: translateY(-50%);
	padding: 0 20px;
	letter-spacing: 0.02em;
	color: #FFF;
}
.ba-work__caption-body:after{
	content: "";
	background-color:  #ffffff;
	width: 92px;
	height: 5px;
	position: absolute;
	bottom: 16px;
}
.ba-work:hover .ba-work__caption{
	opacity: 1;
}
